<div class="w-full h-full bg-surface text-center flex flex-col relative">
  <div
    class="text-primary flex flex-col gap-1 md:gap-2 lg:gap-2 mt-20 lg:mt-36 w-full h-full"
  >
    <h1 class="font-fraunces font-bold text-h1-sm md:text-h1-md lg:text-h1-lg">
      EVELIA GIL
    </h1>
    <h2 class="font-sans font-medium text-h2-sm md:text-h2-md lg:text-h2-lg">
      FULL-STACK <span class="text-acent">DEVELOPER</span>
    </h2>
  </div>
  <div
    class="text-secondary absolute bottom-2 flex flex-row justify-center items-center w-full"
  >
    <img
      src="assets/icons/arrow-down.svg"
      class="size-8 md:size-9 lg:size-11 cursor-pointer"
      (click)="goNextSection('about', $event)"
    />
  </div>
</div>
