<div class="h-full w-full">
  <app-menu (navigate)="showSection($event)"></app-menu>

  @if(current() === 'home'){
  <section id="home" class="h-full w-full">
    <app-intro (navigate)="showSection($event)"></app-intro>
  </section>

  }@else if(current() === 'about'){
  <section id="about" class="h-full w-full">
    <app-about (navigate)="showSection($event)"></app-about>
  </section>
  } @else if(current() === 'projects'){
  <section id="projects" class="h-full w-full">
    <app-projects (navigate)="showSection($event)"></app-projects>
  </section>
  }@else{
  <section id="contact" class="h-full w-full">
    <app-formular (navigate)="showSection($event)"></app-formular>
  </section>

  }
</div>
